<select [(ngModel)]="selectedDevice" (change)="deviceChange()">
  <option
    *ngFor="let audioDevice of audioDevices; index as i"
    [value]="audioDevice.deviceId"
  >
    {{ audioDevice.label || "Microphone " + (i + 1).toString() }}
  </option>
</select>

<audio autoplay #audio controls></audio>
<button (click)="recordingStart()" *ngIf="!recording; else stopRecordingButton">
  Start Recording
</button>
<ng-template #stopRecordingButton>
  <button (click)="recordingStop()">Stop Recording</button>
</ng-template>
<audio #recordedAudio controls></audio>
