<div class="audio-page">
  <div class="selector">
    Device:
    <select [(ngModel)]="selectedDevice" (change)="deviceChange()">
      <option
        *ngFor="let audioDevice of audioDevices; index as i"
        [value]="audioDevice.deviceId"
      >
        {{ audioDevice.label || "Microphone " + (i + 1).toString() }}
      </option>
    </select>
  </div>

  <div *ngIf="notAllowed" class="warning">
    <div class="warning-heading">Error!</div>
    <div>Permission to use the selected device was not granted</div>
  </div>
  <audio autoplay #audio controls [ngClass]="{ disabled: notAllowed }"></audio>
  <button
    (click)="recordingStart()"
    *ngIf="!recording; else stopRecordingButton"
    class="recording-button"
    [ngClass]="{ disabled: notAllowed }"
  >
    <span class="material-symbols-outlined md-48"> radio_button_checked </span>
  </button>
  <ng-template #stopRecordingButton>
    <button (click)="recordingStop()" class="recording-button">
      <span class="material-symbols-outlined md-48"> stop_circle </span>
    </button>
  </ng-template>
  <div class="recorded-audio-container">
    Recorded Audio:
    <audio #recordedAudio controls></audio>
  </div>
</div>
