<select [(ngModel)]="selectedDevice" (change)="deviceChange()">
  <option
    *ngFor="let videoDevice of videoDevices; index as i"
    [value]="videoDevice.deviceId"
  >
    {{ videoDevice.label || "Webcam " + (i + 1).toString() }}
  </option>
</select>

<video autoplay #video></video>
<button (click)="recordingStart()" *ngIf="!recording; else stopRecordingButton">
  Start Recording
</button>
<ng-template #stopRecordingButton>
  <button (click)="recordingStop()">Stop Recording</button>
</ng-template>
<video autoplay #recordedVideo controls></video>
